
// Colores Primarios
$magentaMuyOscuro: hsl(300, 43%, 22%);
$rosaSuave: hsl(333, 80%, 67%);

// Colores Neutros
$magentaOscuro: hsl(303, 10%, 53%);
$magentaClaro: hsl(300, 24%, 96%);
$blanco: hsl(0, 0%, 100%);

// Tipografia
$fuentePrincipal: 'League Spartan', sans-serif;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;