@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    margin-top: 8rem;
    z-index: 10;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        column-gap: 7rem;
    }
    @include m.desktop {
        margin-top: 4rem;
    }
    @include m.desktopXL {
        column-gap: 15rem;
    }
}

.header__info {
    margin-bottom: 3rem;

    .info__titulo {
        text-align: center;
        margin: 0 3rem 2rem ;
        color: v.$magentaMuyOscuro;

        @include m.tablet {
            font-size: 3.5rem;
            line-height: 3rem;
            text-align: left;
            margin: 0 0 1rem;
        }

        @include m.desktopXL {
            font-size: 4rem;
            line-height: 3.5rem;
        }
    }

    .info__texto {
        color: v.$magentaOscuro;
        text-align: center;

        @include m.tablet {
            text-align: left;
        }
    }
}

.contenedor-estrellas {

    @include m.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.estrellas {
    text-align: center;
    background-color: v.$magentaClaro;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;

    @include m.tablet {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 85%;
        
        &:nth-child(2) {
            align-self: center;
        }
    
        &:nth-child(3) {
            align-self: flex-end;
        }
    }

    @include m.desktop {
        flex-direction: row;
        padding: 1.5rem 0rem 1.5rem 4rem;
        gap: 3.5rem;
        margin-bottom: 1.5rem;

    }

    .estrellas__imagen {
        margin-bottom: .5rem;

        @include m.desktopXL {
            margin-bottom: 0;
        }
    }

    .estrellas__texto {
        color: v.$magentaMuyOscuro;
        font-weight: 700;

        @include m.tablet {
            font-size: 1.8rem;
            line-height: unset;
        }
    }
}